* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes bestsellers1 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  12.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  12.51% {
    opacity: 0;
  }
  25% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    opacity: 0;
  }
  25.01% {
    opacity: 1;
  }
  37.5% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes bestsellers1 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  12.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  12.51% {
    opacity: 0;
  }
  25% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    opacity: 0;
  }
  25.01% {
    opacity: 1;
  }
  37.5% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes bestsellers2 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  37.5% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
  37.51% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  62.5% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes bestsellers2 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  37.5% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 1;
  }
  37.51% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  62.5% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes bestsellers3 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  62.5% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 1;
  }
  62.51% {
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  87.5% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes bestsellers3 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  62.5% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 1;
  }
  62.51% {
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  87.5% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes bestsellers4 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  87.5% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
    opacity: 1;
  }
  87.51% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes bestsellers4 {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  87.5% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
    opacity: 1;
  }
  87.51% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0;
  }
}

body {
  background-image: url("./../img/bgi.png");
  min-height: 200vh;
  background-attachment: fixed;
  background-repeat: repeat;
}

body .wrap {
  max-width: 1600px;
  margin: 0 auto;
}

body .wrap main {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body .wrap main .banner {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body .wrap main .banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

body .wrap main .banner div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 2%;
  left: 40%;
  right: 2%;
  background-color: rgba(255, 255, 255, 0.7);
}

body .wrap main .banner div h1 {
  font-size: 2em;
  padding: 5px;
}

body .wrap main .banner div p {
  font-size: 1.5em;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .wrap main .banner div button {
  width: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
}

body .wrap main .logo {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 16vh;
  width: 16vh;
  overflow: hidden;
}

body .wrap main .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}

body .wrap main .burger {
  position: fixed;
  top: 3%;
  right: 3%;
  background-color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}

body .wrap main .burger i {
  color: black;
  font-size: 30px;
  line-height: 50px;
}

body .wrap main nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
}

body .wrap main nav.active {
  display: block;
}

body .wrap main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrap main nav ul li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  border-right: 2px solid black;
}

body .wrap main nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  line-height: 3em;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

body .wrap main nav ul li a i {
  font-size: 1.5em;
}

body .wrap main nav ul li:hover {
  background-color: white;
}

body .wrap main nav ul div {
  margin: 30px auto;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  body .wrap main .banner div {
    left: 30%;
  }
  body .wrap main .banner div h1 {
    font-size: 4.5em;
  }
  body .wrap main .banner div p {
    font-size: 3.5em;
  }
  body .wrap main .banner div button {
    width: 30%;
    font-size: 2em;
  }
  body .wrap main .logo {
    top: 5%;
    left: 7%;
    height: 13vh;
    width: 13vh;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  body .wrap main .banner div {
    left: 30%;
  }
  body .wrap main .banner div h1 {
    font-size: 2.5em;
  }
  body .wrap main .banner div p {
    font-size: 1.5em;
  }
  body .wrap main .banner div button {
    width: 30%;
    font-size: 1em;
  }
  body .wrap main .logo {
    top: 5%;
    left: 3%;
    height: 25vh;
    width: 25vh;
  }
  body .wrap main nav ul li {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  body .wrap main nav ul li a {
    font-size: 1.5em;
    line-height: 2.3em;
  }
  body .wrap main nav ul li a i {
    font-size: 1.5em;
  }
  body .wrap main nav ul div {
    margin: 0px auto;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  body .wrap main .banner div {
    left: 30%;
  }
  body .wrap main .banner div h1 {
    font-size: 4em;
  }
  body .wrap main .banner div p {
    font-size: 2.5em;
  }
  body .wrap main .banner div button {
    width: 30%;
    font-size: 2em;
  }
  body .wrap main .logo {
    top: 5%;
    left: 3%;
    height: 25vh;
    width: 25vh;
  }
  body .wrap main .burger {
    display: none;
  }
  body .wrap main nav {
    display: block;
    position: absolute;
    top: 5%;
    left: 25%;
    right: 5%;
    width: auto;
    height: auto;
  }
  body .wrap main nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .wrap main nav ul li {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: center;
    border-right: 2px solid black;
  }
  body .wrap main nav ul li a {
    text-decoration: none;
    color: #6A5ACD;
    font-size: 2em;
    line-height: 2.5em;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    border-bottom: 2px solid white;
  }
  body .wrap main nav ul li a i {
    font-size: 1.5em;
  }
  body .wrap main nav ul div {
    display: none;
  }
}

@media screen and (min-width: 760px) and (orientation: portrait) {
  body .wrap main .banner div h1 {
    font-size: 4em;
  }
  body .wrap main .banner div p {
    font-size: 3em;
  }
  body .wrap main .banner div button {
    width: 30%;
    font-size: 2.5em;
  }
  body .wrap main .logo {
    top: 5%;
    left: 3%;
    height: 15vh;
    width: 15vh;
  }
  body .wrap main .burger {
    display: none;
  }
  body .wrap main nav {
    display: block;
    position: absolute;
    top: 5%;
    left: 25%;
    right: 5%;
    width: auto;
    height: auto;
  }
  body .wrap main nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .wrap main nav ul li {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: center;
    border-right: 2px solid black;
  }
  body .wrap main nav ul li a {
    text-decoration: none;
    color: #6A5ACD;
    font-size: 2em;
    line-height: 2.5em;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    border-bottom: 2px solid white;
  }
  body .wrap main nav ul li a i {
    font-size: 1.5em;
  }
  body .wrap main nav ul div {
    display: none;
  }
}

aside.bestsellers {
  height: 30vh;
  background-color: red;
  overflow: hidden;
}

aside.bestsellers div {
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

aside.bestsellers div div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

aside.bestsellers div div h2 {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

aside.bestsellers div:nth-last-of-type(4) {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: bestsellers1 15s linear infinite;
          animation: bestsellers1 15s linear infinite;
}

aside.bestsellers div:nth-last-of-type(3) {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: bestsellers2 15s linear infinite;
          animation: bestsellers2 15s linear infinite;
}

aside.bestsellers div:nth-last-of-type(2) {
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: bestsellers3 15s linear infinite;
          animation: bestsellers3 15s linear infinite;
}

aside.bestsellers div .lastone {
  background-image: url("../img/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: bestsellers4 15s linear infinite;
          animation: bestsellers4 15s linear infinite;
}
/*# sourceMappingURL=style.css.map */