.s1
    height: 100vh
    background-color: rgba(155,155 ,155 ,0.9 )
    position: relative
    .info
        position: absolute
        top: 10%
        left: 10%
        right: 10%

        display: flex
        background-color: grey
        .logotyp
            flex-basis: 20%
            height: 20vh
            background-image: url('../img/logo.png')
            background-position: center
            background-size: cover
        div
            display: flex
            flex-direction: column
            h2
                display: inline-block
                font-size: 50px
                padding-left: 30px
            p
                display: inline-block
                padding: 30px
                font-size: 10px
    .more
        position: absolute
        left: 10%
        right: 10%
        bottom: 5%
        top: 40%
        .data
            p
        .images
            img
